<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zarek.itrip.dao.UserDao">

    <insert id="saveUser" parameterType="ItripUser">

        insert into itrip_user(
           userCode,
           userPassword,
           userType,
           userName,
           creationDate,
           modifyDate,
           activated
           ) values(
            #{userCode},
            #{userPassword},
            #{userType},
            #{userName},
            #{creationDate},
            #{modifyDate},
            #{activated}
           )
    </insert>

    <select id="findUserByUserCode" parameterType="java.lang.String" resultMap="itripUserMap">

        select iu.id,
               iu.userCode,
               iu.userPassword,
               iu.userType,
               iu.flatID,
               iu.userName,
               iu.weChat,
               iu.QQ,
               iu.weibo,
               iu.baidu,
               iu.creationDate,
               iu.createdBy,
               iu.modifyDate,
               iu.modifiedBy,
               iu.activated
        from itrip_user iu
        where iu.userCode = #{userCode}

    </select>

    <update id="updateUser" parameterType="ItripUser">

        update itrip_user
        <set>
            <trim suffixOverrides=",">
                <if test="activated != null">activated=#{activated} ,</if>
            </trim>
        </set>
            <where>
                <trim suffixOverrides="and">
                    <if test="id != null">id=#{id} and </if>
                </trim>
            </where>

    </update>

    <resultMap id="itripUserMap" type="ItripUser">
        <id property="id" javaType="java.lang.Long" column="id"/>
        <result property="userCode" javaType="java.lang.String" column="userCode"/>
        <result property="userPassword" javaType="java.lang.String" column="userPassword"/>
        <result property="userType" javaType="java.lang.Integer" column="userType"/>
        <result property="flatID" javaType="java.lang.Long" column="flatID"/>
        <result property="userName" javaType="java.lang.String" column="userName"/>
        <result property="weChat" javaType="java.lang.String" column="weChat"/>
        <result property="QQ" javaType="java.lang.String" column="QQ"/>
        <result property="weibo" javaType="java.lang.String" column="weibo"/>
        <result property="baidu" javaType="java.lang.String" column="baidu"/>
        <result property="creationDate" javaType="java.util.Date" column="creationDate"/>
        <result property="createdBy" javaType="java.lang.Long" column="createdBy"/>
        <result property="modifyDate" javaType="java.util.Date" column="modifyDate"/>
        <result property="modifiedBy" javaType="java.lang.Long" column="modifiedBy"/>
        <result property="activated" javaType="java.lang.Integer" column="activated"/>
    </resultMap>
</mapper>